@import "tailwindcss";

@theme {
  --color-theme-green: #8cb369;
  --color-theme-yellow: #f4e285;
  --color-theme-orange: #f4a259;
  --color-theme-teal: #5b8e7d;
  --color-theme-red: #bc4b51;
  --color-theme-black: #343434;
  --color-theme-cream: #dad7cd;
  --color-theme-dark-green: #4a593d;
  --color-theme-grey: #767676;
}

@utility header-font {
  font-family: "Boldonse", system-ui;
}

@utility body-font {
  font-family: "DM Sans", sans-serif;
}

body {
  @apply body-font;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  color: var(--color-theme-black);
  background-color: var(--color-theme-cream);
}

h1,
h2,
h3,
h4 {
  @apply header-font py-2;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

p {
  text-align: justify;
  @apply py-2 body-font;
}

@utility btn {
  @apply rounded-lg p-2 m-1 font-bold hover:cursor-pointer;
}

.btn-primary {
  @apply btn bg-theme-dark-green hover:bg-theme-green text-theme-cream hover:text-theme-dark-green;
}

.btn-destructive {
  @apply btn bg-theme-red hover:bg-theme-red text-theme-cream;
}

@utility center-all {
  @apply flex text-center items-center justify-center;
}

@utility tb {
  @apply border-3 border-red-400;
}
.card {
  @apply bg-theme-cream text-black rounded-lg p-5;
}

@utility page-title {
  @apply max-sm:text-center pt-2 md:pt-4 pb-10 leading-14;
}

/* GRAMMAR PAGE STYLING */

.GrammarPage h2 {
  @apply text-center;
}

.GrammarPage h2,
.GrammarPage h3 {
  @apply pt-8;
}

.GrammarPage td,
th {
  @apply p-2 max-w-lg;
}
